h1, h2 {
	color: #357EDD;
}

#return {
	width: 55px;
	margin-top: 20px;
	padding: 3px 5px;
	color: rgb(200, 200, 245);
	border: 1px solid rgb(12, 134, 98);
	background-color: rgb(2, 51, 73);
	border-radius: 2px;
}

p {
	color: #CDECFF;
}